name: Running Pytest testcasesggg

on:
  push:
    branches: qa-teja

  pull_request:
    branches:
      - master
jobs:
  Pytest_Execution:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirement.txt

    - name: Run tests
      run: |
        pytest -m repo --token=${{ secrets.TOKEN }}